<template>
  <div class="container">
    <form>
      <label for="task_name">Task name:</label>
      <input type="text" v-model="form.name" required />

      <label for="task_desc">Task description:</label>
      <textarea type="text" v-model="form.description" />
      <label class="upload">
        <input type="file" name="file" v-on:change="chooseFile" />
        Choose your file
      </label>
      <br />
      <button type="submit" @click.prevent="addTask">Add task</button>
    </form>
  </div>
</template>

<script>
import User from "../api/user";

export default {
  name: "CreataTask",
  data() {
    return {
      form: {
        name: "",
        description: "",
        project_name: this.$route.params.project_name,
      },
      file: "",
    };
  },
  methods: {
    addTask() {
      User.addTask(this.form)
        .then(() => {
          this.$router.push({
            name: "Project",
            params: { project_name: this.form.project_name },
          });
          this.setFile();
        })
        .catch((error) => console.log(error));
    },
    chooseFile(e) {
      this.file = e.target.files[0];
      alert(this.file.name);
    },
    setFile() {
      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("task", this.form.name);
      formData.append("project", this.form.project_name);
      
      User.setFile(formData)
    },
  },
};
</script>

<style scoped>
.container {
  padding: 20px;
  text-align: center;
}
textarea,
input[type="text"] {
  width: 100%;
  height: 7vh;
  font-size: 130%;
  margin: 20px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  background-color: #42b983;
  color: white;
  padding: 16px 20px;
  margin: 30px 0;
  font-size: 100%;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.6;
  border-radius: 6px;
}
button:hover {
  opacity: 1;
}
input[type="file"] {
  margin-top: 50px;
  display: none;
}
.upload {
  background-color: #42b983;
  color: white;
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
</style>
