<template>
  <div>
     <h2>Hi, {{this.name}}</h2> 

      <button @click="createProjectAction">Add project +</button>
      <ul>
          <li v-for="(project, index) in projects" :key="project">
              <div> <router-link :to="{name: 'Project', params: {project_name: projects[index]}}">{{projects[index]}}</router-link></div>
          </li>
      </ul>
      <form v-if="this.createProject == true">
          <input type="text" name="" id="" v-model="form.projectName">
          <button type="submit" @click="addProject">Add</button>
      </form>
      <button @click="logout">Log out</button>
  </div>
</template>

<script>
import User from '../api/user';

export default {
  name: 'Home',
  data() {
      return {
          name: '',
          createProject: '',
          form: {
              projectName: '',
          },
          projects: []
      }
  },
  created()
  {
      this.getname();
      this.getProjects();
  },
  methods: {
      getname() 
      {
          User.auth()
          .then(reposense => this.name = reposense.data.name)
          .catch(error => console.log(error));
      },
      getProjects()
      {
          User.getProjects()
          .then((response) => {
              for(let i = 0; i < response.data.length; i++) {
                  this.projects.push(response.data[i].name)
              }
              this.projects = Array.from(new Set(this.projects));
          })
          .catch(error => console.log(error));
      },
      createProjectAction()
      {
          this.createProject = true;
      },
      addProject()
      {
          console.log(this.form.projectName)
          User.addProject(this.form)
          .then(() => this.form.projectName = '')
          .catch(error => console.log(error));

          this.createProject = false;
          this.getProjects();
      },
      logout() {
          User.logout().then(() => this.$router.push({name: 'Login'}));
          localStorage.removeItem('auth')

      },


  }

}
</script>

<style lang="scss" scoped>
li {
    list-style-type: none;
    margin-left:-2%;
    font-size:4vh;
}
button {
  background-color: #42b983;
  color: white;
  padding: 26px 20px;
  font-size: 150%;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 6px;
  width:50%;
  margin-top:30px;
}
button:hover {
    opacity:1;
}
input[type="text"],
select,
textarea {
  width: 50%;
  height: 5vh;
  font-size: 130%;
  padding: 15px;
  margin: 20px 0 70px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}
a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
    text-decoration: none;
  }
</style>