<template>
    <div class="container">
      <h1>Sign In</h1>
      <hr />
      <label for="email"><b>Email</b></label>
      <input
        required
        type="email"
        name="email"
        v-model="form.email"
        placeholder="Enter your email here"
      />
      <label for="password"><b>Password</b></label>
      <input
        type="password"
        name="password"
        v-model="form.password"
        placeholder="Enter your password here"
        required
      />
      <p>Have no account?</p>
      <router-link to="/register">Sign Up!</router-link>
      <br>
      <button class="logbtn" type="submit" @click.prevent="login">Sign In</button>
      <hr>
    </div>
</template>

<script>
import User from "../api/user";

export default {
    name: 'Login',
   data() {
    return {
        form:{
            email: "",
            password: "",
        },
        errors: []
    }
  },
  methods: {
    login() {
      User.login(this.form)
      .then(() => {
          localStorage.setItem("auth", "true");
          this.$router.push({name: "Home"})
      })
      .catch(error => {
          if (error.response.status === 422) {
               this.errors = error.response.data.errors
          }
      });
    }
  }
}

</script>

<style scoped>
.container {
    padding: 30px;
    text-align: center;
  }

  input[type=email],
  input[type=password] {
    width:100%;
    height:7vh;
    font-size: 130%;
    padding:15px;
    margin:15px 0 70px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 4px;
    text-align: center;
  }

  input[type=email]:focus,
  input[type=password]:focus {
    background-color: #ddd;
  outline: none;
  }

  hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  a {
    outline:none;
    text-decoration: none;
    color:darkolivegreen;
  }

  .logbtn {
    background-color: #1068bf;
    color:white;
    padding: 16px 20px;
    margin: 30px 0;
    font-size:130%;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.6;
    height: 8vh;
    border-radius: 6px;
  }

  .logbtn:hover {
    opacity: 1;
  }
  span {
      color:orange;
  }
</style>