<template>
  <div>
    <h1 v-if="this.edit == false">{{ this.$route.params.project_name }}</h1>
    <input v-if="this.edit == true" type="text" v-model="form.project" />
    <br />
    <button v-if="this.edit == false" @click="preditProject">
      Edit Project
    </button>
    <button v-if="this.edit == true" @click="editProject">Edit Project</button>
    <br />
    <button v-if="this.edit == true" @click="deleteProject">
      Delete project
    </button>

    <div v-if="this.edit == false">
      <button @click="addTask">Add Task</button>
      <br />
      <button class="taskButton" @click="getNewTasks" autofocus>
        New tasks
      </button>
      <button class="taskButton" @click="getProgressTasks">
        In progress tasks
      </button>
      <button class="taskButton" @click="getDoneTasks">Done tasks</button>
      <ul v-if="this.newTask == true">
        <li v-for="(task, index) in newTasks" :key="task">
          <div>
            <router-link
              :to="{
                name: 'Task',
                params: {
                  project_name: $route.params.project_name,
                  task_name: newTasks[index],
                },
              }"
              >{{ newTasks[index] }}</router-link
            >
            <button @click="deleteNewTask(index)" class="delBtn">x</button>
          </div>
        </li>
      </ul>
      <ul v-if="this.progressTask == true">
        <li v-for="(task, index) in progressTasks" :key="task">
          <div>
            <router-link
              :to="{
                name: 'Task',
                params: {
                  project_name: $route.params.project_name,
                  task_name: progressTasks[index],
                },
              }"
              >{{ progressTasks[index] }}</router-link
            >
            <button @click="deleteProgressTask(index)" class="delBtn">x</button>
          </div>
        </li>
      </ul>
      <ul v-if="this.doneTask == true">
        <li v-for="(task, index) in doneTasks" :key="task">
          <div>
            <router-link
              :to="{
                name: 'Task',
                params: {
                  project_name: $route.params.project_name,
                  task_name: doneTasks[index],
                },
              }"
              >{{ doneTasks[index] }}</router-link
            >
            <button @click="deleteDoneTask(index)" class="delBtn">x</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import User from "../api/user";

export default {
  name: "Project",
  data() {
    return {
      addingTask: false,
      newTasks: [],
      progressTasks: [],
      doneTasks: [],
      project: this.$route.params.project_name,
      newTask: true,
      progressTask: false,
      doneTask: false,
      edit: false,

      form: {
        project: this.$route.params.project_name,
        oldProject: this.$route.params.project_name,
      },
    };
  },

  updated() {
    this.form.oldProject = this.$route.params.project_name;
  },
  mounted() {
    this.getTasks();
  },
  methods: {
    getTasks() {
      User.getTasks(this.project)
        .then((response) => {
          for (let i = 0; i < response.data.length; i++) {
            if (response.data[i].status == "new") {
              this.newTasks.push(response.data[i].name);
            } else if (response.data[i].status == "in progress") {
              this.progressTasks.push(response.data[i].name);
            } else {
              this.doneTasks.push(response.data[i].name);
            }
          }
        })
        .catch((error) => {
          if (error.response.status == 500) {
            this.$router.push({ name: "Home" });
            User.checkFiles();
          } else {
            console.log(error);
          }
        });
    },

    addTask() {
      this.$router.push({
        name: "CreateTask",
        params: { project_name: this.$route.params.project_name },
      });
    },
    deleteNewTask(index) {
      User.deleteTask(this.$route.params.project_name, this.newTasks[index]);
      this.newTasks.splice(index, 1);
    },
    deleteProgressTask(index) {
      User.deleteTask(
        this.$route.params.project_name,
        this.progressTasks[index]
      );
      this.progressTasks.splice(index, 1);
    },
    deleteDoneTask(index) {
      User.deleteTask(this.$route.params.project_name, this.doneTasks[index]);
      this.doneTasks.splice(index, 1);
    },
    getNewTasks() {
      this.newTask = true;
      this.progressTask = false;
      this.doneTask = false;
    },
    getProgressTasks() {
      this.newTask = false;
      this.progressTask = true;
      this.doneTask = false;
    },
    getDoneTasks() {
      this.newTask = false;
      this.progressTask = false;
      this.doneTask = true;
    },
    preditProject() {
      this.edit = true;
    },
    editProject() {
      User.editProject(this.form).then(() => {
        this.$router.push({
          name: "Project",
          params: { project_name: this.form.project },
        });
        this.edit = false;
      });
    },

    deleteProject() {
      User.deleteProject(this.$route.params.project_name);

      this.getTasks();
    },
  },
};
</script>

<style scoped>
li {
  list-style-type: none;
  font-size: 3vh;
}
a {
  text-decoration: none;
  color: #0dd4ca;
}
button {
  background-color: #42b983;
  color: white;

  font-size: 150%;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 6px;
  width: 30%;
  margin-top: 30px;
}
.delBtn {
  width: 20px;
  height: 2vh;
  font-size: 40%;
  background-color: red;
}
.taskButton {
  border: none;
  color: #42b983;
  background: none;
  cursor: pointer;
}
button:focus {
  color: #a9c919;
}
button:hover {
  opacity: 1;
}
input[type="text"] {
  width: 60%;
  height: 7vh;
  font-size: 130%;
  margin: 20px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}
</style>