<template>
  <form>
    <div class="container">
      <h1>Sign up</h1>
      <hr />
      <label for="name"><b>First name</b></label>
      <input
        type="text"
        v-model="form.name"
        placeholder="Please, enter your name here"
        required
      />
      <span class="danger" v-if="errors.name"> {{ errors.name[0] }} <br> </span>

      <label for="email"><b>Email</b></label>
      <input
        required
        type="email"
        name="email"
        v-model="form.email"
        placeholder="Enter your email here"
      />
      <span class="danger" v-if="errors.email"> {{ errors.email[0] }} <br></span>

      <label for="password"><b>Password</b></label>
      <input
        type="password"
        name="password"
        v-model="form.password"
        placeholder="Enter your password here"
        required
      />
      <span class="danger" v-if="errors.password">
        {{ errors.password[0] }} <br>
      </span> 

      <label for="password_conf"><b>Password repeat</b></label>
      <input
        type="password"
        name="password_conf"
        v-model="form.password_confirmation"
        placeholder="Repeat your password here"
        required
      />
      <span class="danger" v-if="errors.password_confirmation">
            {{ errors.password_confirmation[0] }} <br>
          </span>
      <button class="regbtn" @click.prevent="register">Sign Up</button>
    </div>
  </form>
</template>
//  hide warnings after filling in
<script>
import User from "../api/user";

export default {
  name: "Register",
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      errors: [],
    };
  },
  methods: {
    register() {
      User.register(this.form)
        .then(() => {
          this.$router.push({ name: "Login" });
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
        });
    }
  },
};
</script>


<style scoped>
.container {
  padding: 20px;
  text-align: center;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  height: 7vh;
  font-size: 130%;
  margin: 20px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.regbtn {
  background-color: #1068bf;
  color: white;
  padding: 16px 20px;
  margin: 30px 0;
  font-size: 100%;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.6;
  border-radius: 6px;
}
.regbtn:hover {
  opacity: 1;
}
</style>