<template>
  <div>
      <h2><router-link
              :to="{
                name: 'Project',
                params: {
                  project_name: $route.params.project_name,
                },
              }"
              > Go to your project - {{ this.$route.params.project_name }}</router-link
            ></h2>
    <div v-if="this.edit == false">
      <h1>{{ this.name }}</h1>
      <p> Status: {{ this.status }}</p>
      <p> Description: {{ this.description }}</p>
      <button
        v-if="this.file != 'no file'"
        class="button secondary download"
        @click="checkFile"
      >
        Check file
      </button>
      <br>
      <button @click.prevent="preEdit">Edit task</button>
      <!-- <button v-if="this.file != 'no file'" @click="download">
      Download file
    </button> -->
    </div>
    <div v-if="this.edit == true">
      <form>
        <label for="task_name">Task name:</label>
        <input type="text" v-model="name" required />

        <label for="task_status">Task status:</label>
        <select v-model="status">
          <option value="new">New</option>
          <option value="in progress">In progress</option>
          <option value="done">Done</option>
        </select>

        <label for="task_desc">Task description:</label>
        <textarea type="text" v-model="description" />

        <button v-if="this.file != 'no file'" @click="deleteFile">
          Delete file
        </button>
        <label class="upload" v-if="this.file == 'no file'">
          <input type="file" name="file" v-on:change="chooseFile" />
          Choose your file
        </label>
        <br />
        <button type="submit" @click.prevent="editTask">Edit task</button>
      </form>
    </div>
  </div>
</template>

<script>
import User from "../api/user";
//import axios from "axios";

export default {
  name: "Task",
  data() {
    return {
      name: this.$route.params.task_name,
      status: "",
      description: "",
      file: "",
      edit: false,
    };
  },
  mounted() {
    this.getTask();
    console.log(this.file)
  },
  methods: {
    getTask() {
      User.getTask(
        this.name,
        this.$route.params.project_name
      )
        .then((response) => {
          this.status = response.data[0].status;
          this.description = response.data[0].description;
          this.file = response.data[1];
        })
        .catch((error) => console.log(error));
    },
    checkFile() {
      const url = this.file;
      window.open(url)
    },

    preEdit() {
      this.edit = true;
    },
    editTask() {
      let formData = new FormData();
      formData.append("name", this.name);
      formData.append("status", this.status);
      formData.append("description", this.description);
      formData.append("project", this.$route.params.project_name);
      formData.append("task", this.$route.params.task_name);

      User.editTask(formData)
        .then(() => {
          if (this.file != "no file") {
            this.setFile();
          }
          this.$route.params.task_name = this.name
          this.getTask();
          this.edit = false;
        })
        .catch((err) => console.log(err));
    },
    chooseFile(e) {
      this.file = e.target.files[0];
      alert(this.file.name)
    },
    setFile() {
      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("task", this.name);
      formData.append("project", this.$route.params.project_name);

      User.setFile(formData)
    },
    deleteFile() {
      User.deleteFile(
        this.$route.params.task_name,
        this.$route.params.project_name
      )
      this.file = "no file";
    },
  },
};
</script>

<style scoped>

p {
    font-size: 3vh;
}
a {
    text-decoration: none;
    color: #42b983;
}

button {
  background-color: #42b983;
  color: white;
  padding: 26px 20px;
  font-size: 150%;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 6px;
  margin-top:20px;
}
button[type=submit] {
    margin-top:50px;
    
    width:50%;
    margin-bottom: 50px;
}
button:hover {
  opacity: 1;
}
ul, img {
    margin-left: 40%;
}
input[type="file"] {
  margin-top: 50px;
  margin-left:50px;
  display: none;
}

.upload {
  background-color: #42b983;
  color: white;
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
label {
    color:#42b983;
    font-style: italic;
    font-size: 2vh;
}
input[type="text"],
select,
textarea {
  width: 100%;
  height: 6vh;
  font-size: 130%;
  padding: 15px;
  margin: 20px 0 70px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
}
textarea {
  resize: none;
}
.deleteImg, button {
    width:10%;
}
</style>